<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Here's our Poll Data:</p>
<ul>
  {{#each pollData}}
    <li>{{state}}:
      <a target="_blank" href="{{voterRegistrationHomePage}}">Register To Vote</a> |
      <a target="_blank" href="{{registrationStatusCheck}}">Check Registration Status</a>
    </li>

    <li>Donald and Ish in the house!</li>
  {{/each}}
</ul>
